apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      serviceAccountName: genai-ksa
      containers:
      - name: backend-api
        # REPLACE PROJECT_ID
        image: us-central1-docker.pkg.dev/dogwood-channel-478619-p7/genai-repo/backend-api:latest                                                   
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
