apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-ui
  template:
    metadata:
      labels:
        app: frontend-ui
    spec:
      containers:
      - name: frontend-ui
        image: us-central1-docker.pkg.dev/dogwood-channel-478619-p7/genai-repo/frontend-ui:final-v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8501
        env:
        - name: BACKEND_URL
          value: "http://backend-service"  # <--- Internal K8s DNS

